<mat-list>
  <div class="logo py-4">
    <img src="../../assets/images/bg/adminlogo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboardadmin/home">
    <mat-icon>home</mat-icon>Admin Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboardadmin/chat">
    <mat-icon>dashboard</mat-icon>Admin Chat
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboardadmin/notification">
    <mat-icon>dashboard</mat-icon>Notification 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboardadmin/event">
    <mat-icon>dashboard</mat-icon>Events
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboardadmin/companies">
    <mat-icon>dashboard</mat-icon>companies
  </a>
</mat-list>
