<mat-list>
  <div class="logo py-4">
    <img src="../../assets/images/bg/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/training">
    <mat-icon>dashboard</mat-icon> Training
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/chat">
    <mat-icon>dashboard</mat-icon> Chat
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/notification">
    <mat-icon>dashboard</mat-icon> Notification
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/events">
    <mat-icon>dashboard</mat-icon> All Events
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/schedule">
    <mat-icon>dashboard</mat-icon> My Schedule
  </a>
</mat-list>
