<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark  static-top">
   <div class="container">
      <a class="navbar-brand" href="#">
         <img src="assets/images/bg/title.png" alt="..." height="36">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ms-auto">
            <li class="nav-item">
               <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" routerLink="/register">Register</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/company-application">Company Application</a>
            </li>

         </ul>
      </div>
   </div>
</nav>

<!-- Page Content -->

<section class="slider">

   <div class="container">
      <div class="row">
         <div class="main-wrapper">
            <div class="sub-wrapper-01">
               <div class="content">
                  <h1>Unlock Your Career Potential with Training And Placement Cell - Where Dreams Meet Opportunities!
                  </h1>
                  <p>The Training and Placement department serves as a bridge between the academic environment and the
                     industry by establishing connections with various companies and organizations.</p>
                  <a type="button" class="register-button" routerLink="/register">Register
                     <mat-icon>arrow_right_alt</mat-icon> </a>

               </div>
            </div>
            <div class="sub-wrapper-01">
               <div class="image">
                  <div class="my-ba">
                     <img src="../../assets/images/slider/1.png">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- ============bg-se-01  Section  Start============ -->

<div class="section-1">
   <div class="why-img">
      <img src="assets/images/bg/1.png">
   </div>
   <div class="why-steps">
      <ul>
         <li>
            <b>Connect</b>
            <p>Connect with us and become a member of this big placement community</p>
         </li>
         <li>
            <b>Alerts</b>
            <p>Get live and personal notifications about openings in your favourite Career</p>
         </li>
         <li>
            <b>Train</b>
            <p>Test your skills with our in built Test apis, Learn skills via our practical sessions</p>
         </li>

      </ul>
   </div>
</div>



<!--info row-1-->
<div class="info">
   <div class="info-box">
      <b>1,085+</b>
      <P>Number of students placed (2022-23)</P>
   </div>

   <div class="info-box">
      <b>472+</b>
      <p>Number of companies visited (2022-23)</p>
   </div>
</div>
<div class="info">
   <div class="info-box">
      <b>197+</b>
      <P>Students with 6+ LPA packages</P>
   </div>

   <div class="info-box">
      <b>87+</b>
      <p>Percentage of students placed (2022-23)</p>
   </div>
</div>
<div class="company-text">
   <h4>Our Top Recruiters</h4>
</div>
<div class="full-cover">
<div class="company-slider-cover">
   <div class="company-slider">
      <img src="assets/images/company-slider/dell.png">
      <img src="assets/images/company-slider/deloite.jpg">
      <img src="assets/images/company-slider/fb.png">
      <img src="assets/images/company-slider/fortis.png">
      <img src="assets/images/company-slider/google.png">
      <img src="assets/images/company-slider/lnt.png">
      <img src="assets/images/company-slider/microsoft.png">
      <img src="assets/images/company-slider/oracle.jpg">
      <img src="assets/images/company-slider/pepper.png">
      <img src="assets/images/company-slider/olx.png">
      <img src="assets/images/company-slider/amazon.png">
      <img src="assets/images/company-slider/black.png">
      <img src="assets/images/company-slider/tcs.jpg">
      <img src="assets/images/company-slider/pharm.jpg">
      <img src="assets/images/company-slider/samsung.png">
   </div>
</div>

<footer>
   <div class="d-flex flex-column">
      <div class="d-flex"><mat-icon> phone</mat-icon>+77777 77777</div>
      <div class="d-flex"><mat-icon>mail</mat-icon>admin@tnpadmin.com</div>
   </div>
   <div>
      <p>@copyright</p>
      <p>This Website is not affiliated with any of the companies mentioned, its for project purpose only</p>
   </div>
</footer>