@import 'src/styles.scss';

.messageContainer{
    display: flex;
    justify-content: flex-start;
    height: auto;
    width: 70%;
    min-width: 60vw;
    border-radius: 5px;
    align-items:stretch;
    background-color: #eee;
    box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.23);
    @include md{
        min-width: 70vw;
    }
    &:hover{
        scale: 1.01;
    }
}

.isOwnMessageContainer{
    background-color: #01579B;
}

.messageData{
    flex: 1;
    padding: 10px;
    font-size: 0.7em;
    @include md{
        font-size: 0.4;
    }
    
}

.email{
    display: block;
    color: #222;
    font-weight: bold;
    word-wrap: break-word;
    @include md{
        width: 10vw;
    }
}

.isOwnEmail{
    color: #E1F5FE;
}

.timestamp {
    color: #555;
    font-style: italic;
}

.isOwnTimestamp{
    color: #4FC3F7;
}

.messageContent{
    height: auto;
    flex: 9;
    background-color: #fff;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    word-wrap: break-word;
    // display: flex;
    // justify-content: flex-start;
}

.isOwnMessageContent{
    background-color: #E3F2FD;
    color: #01579B;
}